.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
}

.form-group {
  width: 300px;
  height: 35px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ff0000;
  margin-bottom: 1px;
  font-size: 10px;
}

.form-group::placeholder {
  color: #ff0000;
}

.btn-group {
  width: 300px;
  border: none;
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-top: 20px;
}

.signup-btn {
  width: 149.5px;
  border: none;
  color: #ff0000;
  cursor: pointer;
  text-align: start;
  background-color: #fff;
}

.signup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-title {
  width: 100%;
  color: #ff0000;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
